.vscode/**
.git/**
.gitignore
**/.DS_Store
package-lock.json
Screenshot*.png
node_modules/**/.github/**
node_modules/**/.vscode/**
node_modules/**/test/**
node_modules/**/tests/**
node_modules/**/__tests__/**
node_modules/**/benchmark/**
node_modules/**/benchmarks/**
node_modules/**/docs/**
node_modules/**/doc/**
node_modules/**/example/**
node_modules/**/examples/**
node_modules/**/*.map
node_modules/**/*.d.ts
node_modules/**/*.ts
node_modules/**/*.md
node_modules/**/README*
node_modules/**/readme*
node_modules/**/CHANGELOG*
node_modules/**/changelog*
